---
title: "Documentr - hierarchical document generator"
description: "Hello world!"
version: "1.0"
date: ""
author: "Unknown"
copyright: ""
---
%p
  = lorem.paragraph
%p
  = image_tag 'images/graph-1.gif'
%p
  = lorem.paragraph