---
title: 
description: 
version: 
date: ""
author: ""
copyright: ""
sections:
---
%p
  Read the 
  = link_to 'documentation written in Haml', 'demo.html'
%p
  Reference
  = link_to 'example in Markdown', 'example.html'
%p
  Haml document starter
  = link_to 'blank.haml', 'blank.html'
%p
  Markdown document starter
  = link_to 'empty.md', 'empty.html'