---
title: 
description: 
version: 
date: ""
author: ""
copyright: ""
sections:
---
%h1 
  %em Getting Started:
%p
  View page
  = link_to('Documentr reference', 'readme.html') + ','
  source code: documentr/source/readme.md
%p
  View page
  = link_to('Markdown reference', 'example.html') + ','
  source code: documentr/source/example.md
%p
  View page
  = link_to('Markdown document starter', 'empty.html') + ','
  source code: documentr/source/empty.md